ul.timeline {
    cursor: default;
    list-style-type: none;
    position: relative;
}

ul.timeline:before {
    background: #d4d9df;
    content: "";
    display: inline-block;
    height: 100%;
    left: 1.75rem;
    position: absolute;
    top: 0.5rem;
    width: 3px;
    z-index: -1;
}

ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;

}

.topic_number {
    color: #e83e8c;
    margin: auto;
}

ul.timeline > li > .block > p {
    font-size: 1rem;
}

ul.timeline > li > .block > h5 {
    color: #2d995b;
}

li.row > div.block > h5 > i.fas {
    color: #f66D9b;
    font-size: 2.5rem;
    position: absolute;
    transform: translate(-2.675rem, -0.75rem);
    -moz-transform: translate(-2.675rem, -0.75rem);
    -ms-transform: translate(-2.675rem, -0.75rem);
    -o-transform: translate(-2.675rem, -0.75rem);
    -webkit-transform: translate(-2.675rem, -0.75rem);
    z-index: 100;
}

@media (max-width: 767px) {
    ul.timeline {
        list-style-type: none;
        position: relative;
    }

    ul.timeline:before {
        background: #d4d9df;
        content: '';
        display: inline-block;
        height: 100%;
        left: 29px;
        position: absolute;
        width: 2px;
        z-index: -1;
    }

    ul.timeline > li {
        margin: 20px 0;
        padding-left: 20px;
    }
}
