@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC|Roboto+Slab');

:not(i) {
    font-family: 'Roboto Slab', 'Noto Sans TC', sans-serif, serif !important;
}

/*平板：寬度介於768px ~ 1200px之間*/
/*@media (min-width: 768px) and (max-width: 1200px) {*/
/*@media (min-height: 1024px) and (max-height: 1365px) {*/
/*.navbar-brand, .nav-item, .nav-item .btn-link {*/
/*font-size: 0.8rem;*/
/*}*/
/*}*/

/*@media (min-height: 1366px) {*/
/*.navbar-brand, .nav-item, .nav-item .btn-link {*/
/*font-size: 1.2rem;*/
/*}*/
/*}*/
/*}*/

body {
    background: #e2e3e5;
}

.dropdown-menu {
    background-color: #343A40;
    color: #ffffff;
    cursor: pointer;
    left: auto;
    position: center;
    right: auto;
    text-align: left;
    top: 50px;
}

.dropdown-toggle-split {
    cursor: pointer;
}

.dropdown-item {
    border: 0;
    clear: both;
    color: #ffffff;
    display: block;
    font-weight: 400;
    outline: 0;
    padding: 0.25rem 1.5rem;
    text-align: left;
    white-space: normal;
    width: 100%;
}
