@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC|Roboto+Slab');

:not(i) {
    font-family: 'Roboto Slab', 'Noto Sans TC', sans-serif, serif !important;
}

body {
    background: #e2e3e5;
}

.dropdown-menu {
    background-color: #343A40;
    color: #ffffff;
    cursor: pointer;
    left: auto;
    position: center;
    right: auto;
    text-align: left;
    top: 50px;
}

.dropdown-menu-right {
    position: absolute;
    right: 0;
    width: 100% !important;
    min-width: 8rem !important;
    max-width: 8rem !important;
}

.dropdown-toggle {
    right: auto;
    left: 0;
    color: #2d995b !important;
}

.dropdown-toggle-split {
    cursor: pointer;
}

.dropdown-item {
    border: 0;
    clear: both;
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-weight: 400;
    outline: 0;
    padding: 0.25rem 1.5rem;
    text-align: left;
    white-space: normal;
    width: 100%;
}

.nav-link {
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav-item, .dropdown-menu, .dropdown-menu-right {
        min-width: 100% !important;
        max-width: 100% !important;
        width: 100% !important;
    }

    .dropdown-menu > .dropdown-item, .dropdown-menu-right > .dropdown-item {
        min-width: 100% !important;
        text-align: center;
    }

    .dropdown-menu-right > .dropdown-item > .btn {
        min-width: 100% !important;
    }

    .dropdown-item > .btn > i {
        margin-right: 1rem;
        font-size: 1rem;
    }

    .dropdown-item > .btn > span {
        font-size: 1rem;
    }
}
