/* 表單核取方塊樣式表開始 */

.switch {
    position: relative;
    display: inline-block;
    width: 2.5rem;
    height: 1.5rem;
    float: right;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1rem;
    width: 1rem;
    left: 0.25rem;
    bottom: 0.25rem;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input.success:checked + .slider {
    background-color: #8bc34a;
}


input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(1rem);
    -ms-transform: translateX(1rem);
    transform: translateX(1rem);
}

.slider.round {
    border-radius: 1rem;
}

.slider.round:before {
    border-radius: 50%;
}

/* 表單核取方塊樣式表結束 */

.validation-area {
    text-align: left;
    color: #e3342f;
    white-space: pre-wrap;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 0.85em;
}

.input-invalid {
    color: #d9534f;
    border-color: #d9534f;
    border-width: 0.15em;
}

#loading {
    display: none;
    margin-right: -1.5rem;
    max-width: 2rem;
    max-height: 2rem;
}

@media (max-width: 767px) {
    .validation-area {
        text-align: left;
        margin-left: 1rem;
        margin-right: 0.5rem;
        font-size: 1rem;
    }

    #loading {
        margin-right: -1rem;
        max-width: 1.5rem;
        max-height: 1.5rem;
    }
}
